<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-thumbnail d-block w-100 rounded mb-4" src="/slide.jpg" alt="First slide">
            <div class="carousel-caption">
                <h1>Welcome To <span style="color: blue">GameZone</span>!</h1>
                <h2>Everything you need in ONE place!</h2>
            </div>
        </div>
    </div>
</div>